.textcomponent-main-div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 24px;
}

.textcomponent-text-div {
	margin-top: 16px;
	display: flex;
	width: 880px;
	gap: 24px;
	flex-direction: column;
}

.textcomponent-p {
	text-align: center;
	font-size: 24px;
}

.textcomponent-headline {
	text-align: center;
	font-size: 50px;
}
