.contact-section-main-div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: white;
}

.contact-headline {
	text-align: center;
	font-size: 32px;
	width: 880px;
}

.contact-headline-div {
	padding-top: 48px;
	padding-bottom: 32px;
	display: flex;
	justify-content: center;
	background-color: white;
}

.contact-infos-div {
	margin-right: 160px;
}

.contact-details-text-div {
	display: flex;
	flex-direction: row;
	gap: 8px;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
